version: "3"

services:


  postgresql:
    container_name: postgresql
    image: postgres:latest
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: local
      POSTGRES_USER: user_me
      POSTGRES_PASSWORD: user_me

    volumes:
      - /var/lib/postgresql/data
    networks:
      - default
      - postgresql-net


#6379 포트는 그냥도커로 빌드해놈.

  redis1:
    container_name: redis1
    image: redis:latest
    restart: always
    ports:
      - 6380:6379
    volumes:
      - /var/lib/redis1/data
    networks:
      - default
      - redis1-net
    environment:
      - TZ=Asia/Seoul

  jenkins:
    container_name: jenkinslocal
    image: jenkins/jenkins:jdk11
    restart: always
    ports:
      - 7999:8080
      - 50000:50000
    expose:
      - 8080
      - 50000
    volumes:
      - ./jenkins_home:/var/jenkins_home
#      - /var/run/docker.sock:/var/run/docker.sock
#      - C:\Program Files (x86)\jdk-11\lib\security\jenkins_home:/var/jenkins_home
    networks:
      - default
      - jenkins-net
    user: root
    environment:
      TZ: "Asiz/Seoul"
    privileged: true
    #https://hub.docker.com/r/jenkins/jenkins


networks:
  postgresql-net:
    driver: bridge
  redis1-net:
    driver: bridge
  jenkins-net:
    driver: bridge

#volumes:
#  jenkinsvol: